<div class="container" align="middle">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <div >
          <h1>Game Selection</h1>
      </div>
      <div class="opacityBackground">
          <form  class = "form" name="formularioGame" role = "form" class="animate-if">
            <label>
              Name or type:
              <input my-directive type="text" name="game.input" data-ng-model="game.input"/>
            </label>
            <button class="btn btn-default" ng-click="createGame()">
              Submit
            </button>
          </form>
      </div> 
      <table class="table table-bordered">
        <tr ng-repeat="item in list | orderBy:'type'" class="repeat-item">
          <td>{{item.name}}</td>
          <td>{{item.type}}</td>
        </tr>
      </table> 
    </div>    
  </div>
</div>
