<div class="container" align="middle">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <div >
          <h1>Game Selection</h1>
      </div>
      <div class="opacityBackground">
          <form  class = "form" name="formularioGame" role = "form" class="animate-if">
            <tr>
            <button class="btn btn-default col-md-6" ng-click="getTable()">
              Click For Table
            </button>
            <button class="btn btn-default col-md-6" ng-click="getUserTable()">
              Click For User List
            </button>
          </tr>
          </form>
      </div> 
      <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered">
        <thead>
          <tr>
            <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
          </tr>
          <tr>
            <th st-sort="name">Name</th>
            <th  st-sort="type">Type</th>
            <th st-sort="name">Delete/Save</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in displayedCollection">
            <td>{{row.name}}</td>
            <td>{{row.type}}</td>
            <td>
            <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
              <i class="glyphicon glyphicon-remove-circle">
              </i>
            </button>
            <button type="button" ng-click="addGame(row)" class="btn btn-sm btn-success">
              <i class="glyphicon glyphicon-save">
              </i>
            </button>
            </td>
          </tr>
        </tbody>
    </table>
    </div>    
  </div>
</div>
