<div class="container" align="middle">
	<div class="row">
		<div class= "col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
			<div class="item">
				<h1>Game Creation</h1>
			</div>
			<div class="opacityBackground"  align="middle">
				<form class = "form"  name="formularioGame" class="animate-if">
					<div call="form-group">
						<td><label>
							Name:
							<input my-directive = 'name' type="text" name="game.name" data-ng-model="game.name"/>
						</label>
						<label class='type_input'>
							Type: 
							<input my-directive = 'type' type="text" name="game.type" data-ng-model="game.type"/>
						</label>
						</td>
						<td>
							<button class="btn btn-default" ng-click="createGame()">
								Submit
							</button>
						</td>
					</div>
				</form>
			</div>  
			<table class="table table-bordered" >
		        <tr ng-repeat="item in list | orderBy:'type'" class="repeat-item">
		        	<td>{{item.name}}</td>
		        	<td>{{item.type}}</td>
		        </tr>
		    </table>  
		</div>
	</div>
</div>
